/* Resets default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Makes the body fill the entire viewport height */
}

/* H1 styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  margin-right: 7px;
}

/* Clock styles */
.clock {
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}